<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>All Users</title>
    <style>
        table, th , td  {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd)	{
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<body>
<div ng-app="" ng-controller="usersController">
    <table>
        <tr ng-repeat="x in users">
            <td>{{x.id}}</td>
            <td>{{x.firstName}}</td>
            <td>{{x.lastName}}</td>
            <td>{{x.email}}</td>
        </tr>
    </table>
</div>
<script>
    function usersController($scope, $http){
        $http.get("http://127.0.0.1:8080/rest/user/email/david.hung@gmail.com").success(function (response) {
            $scope.users = response;
        });
    }
</script>
</body>
</html>