<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<body>
  <div class="span6" ng-app="">
    <table class="table" table-striprd table-condensed>
      <thead>
      <tr>
        <th style="min-width: 80px;">First Name</th>
        <th style="min-width: 80px;">Last Name</th>
        <th style="min-width: 80px;">Email</th>
        <th style="width: 20px;"></th>
        <th style="width: 20px;"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td><a ng-click="editUser(user.id)" class="btn btn-small btn-primary">Edit</a></td>
        <td><a ng-click="deleteUser(user.id)" class="btn btn-small btn-danger">Delete</a></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-success" ng-click="createNewUser()">
      <span class="glyphicon glyphicon-user"></span> Create New User
    </button>
  </div>
</body>
</html>