<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<body>
<div class="container" ng-app="">
  <h1>User Creation</h1>
  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputFirstName">First Name:</label>
      <div class="controls">
        <input type="text" id="inputFirstName" ng-model="user.firstName">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputLastName">Last Name:</label>
      <div class="controls">
        <input type="text" id="inputLastName" ng-model="user.lastName">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Email:</label>
      <div class="controls">
        <input type="text" id="email" ng-model="user.email">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="createNewUser()" class="btn btn-small btn-primary">Create New User</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>